<div class="auth-container">
  <mat-card class="auth-card">
    <h2>Reset Password</h2>

    <form [formGroup]="form" (ngSubmit)="reset()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="auth-btn">
        Update Password
      </button>
    </form>
  </mat-card>
</div>
