<div class="auth-container">
  <mat-card class="auth-card">
    <h2>Create Account 🚀</h2>
    <p class="subtitle">Join our platform</p>
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="auth-btn">
        Register
      </button>
    </form>

    <div class="auth-links">
        <a (click)="navigateToLogin()">Already have an account?</a>
    </div>
  </mat-card>
</div>
